section {
    display: flex;
    justify-content: center;
}

.title-text {
    font-size: 75px;
    font-style: italic;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--dark-purple);
    text-shadow: 10px 10px 5px var(--dark-purple);
}

.container-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.container-project1, .container-project2 {
    display: flex;
    align-items: center;
    margin: 5% 10% 5% 10%;
}

.proj-h {
    font-size: 25px;
    text-align: center;
}

.text-container, .img-container {
    margin: 20px;
    width: 100%;
    font-size: large;;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-cstm1, .img-cstm2 {
    border: solid 3px var(--slate-blue);
    border-radius: 5%;
    width: 100%;
}

.img-cstm1 {
    box-shadow: 12px 20px 20px var(--light-purple); 
}

.img-cstm2 {
    box-shadow: -12px 20px 20px var(--light-purple); 
}

.cstm-bg {
    background-color: var(--dark-purple);
}

@media only screen and (max-width: 900px) {
    .container-project1, .container-project2 {
        margin: 15% 10% 15% 10%;
    }

    .container-project1 {
        flex-flow: column;
    }

    .container-project2 {
        flex-flow: column-reverse;
    }

    .img-cstm2 {
        box-shadow: 12px 20px 20px var(--light-purple); 
    }

    .portfolio-title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 700px) {
    .title-text {
        -webkit-text-stroke-width: 2px;
        text-shadow: 5px 5px 5px var(--dark-purple);
        font-size: 50px;
    }
}