body {
    background: linear-gradient(90deg, var(--dark-purple),var(--light-purple));
    color: white;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.max-w {
    max-width: 1440px;
}

.container-main {
    padding: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.container-project1, .container-project2 {
    display: flex;
    flex-flow: row;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.proj-h {
    font-size: 25px;
    text-align: center;
}

.text-container, .img-container {
    margin: 20px;
    width: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-cstm {
    border: solid 3px var(--slate-blue);
    border-radius: 5%;
    box-shadow: -20px 20px var(--dark-purple); 
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .container-project1, .container-project2 {
        margin-bottom: 50px;
    }

    .container-project1 {
        flex-flow: column;
    }

    .container-project2 {
        flex-flow: column-reverse;
    }
}