:root {
    --dark-purple: #291e32;
    --light-purple: #5941A9;
    --pale-purple: #E5D4ED;
    --slate-blue: #6D72C3;
    --grey: #514F59;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, var(--dark-purple),var(--light-purple));
    color: white;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.max-w {
    max-width: 1440px;
}
